@import './main.scss';

.Cart {
    display: flex;
    padding: 2em;
    gap: 1em;
    min-height: 90vh;

    @include respond(tab-land) {
        flex-direction: row;
    }

    @include respond(phone) {
        flex-direction: column;
    }

    .products {
        width: 70%;
        background-color: $background-color-secondary;
        border: 1px solid $color-border;
        padding: 2em;

        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(phone) {
            width: 100%;
        }

        >div {
            margin-bottom: 1em;
        }

    }

    .checkout {
        background-color: $background-color-secondary;
        width: 30%;
        border: 1px solid $color-border;
        padding: 2em;

        @include respond(tab-land) {
            width: 100%;
        }

        @include respond(phone) {
            width: 100%;
        }

        .content {
            width: 100%;

            .info {
                margin-bottom: 2em;
                width: 100%;
            }

        }


    }
}