@import "./main.scss";

.Checkout {
    padding: 1em 4em;


    .ChekoutForm {
        .content {
            display: flex;
            width: 100;
            gap: 4em;

            @include respond(tab-land) {
                flex-direction: column;
            }
        
            @include respond(phone) {
                flex-direction: column;
            }

            .form {
                width: 60%;
                background-color: $background-color-secondary;
                padding: 1em;
                border: 1px solid $color-border;

                @include respond(tab-land) {
                    width: 100%;
                }
            
                @include respond(phone) {
                    width: 100%;
                }
            }

            .yourOrders {
                width: 40%;
                background-color: $background-color-secondary;
                padding: 1em;
                border: 1px solid $color-border;

                @include respond(tab-land) {
                    width: 100%;
                }
            
                @include respond(phone) {
                    width: 100%;
                }
            }
        }
    }
}

.address {
    height: 100%;

    .double {
        display: flex;
        justify-content: space-between;
        gap: 1em;

        >div {
            width: 100%;
        }
    }

    >div {
        margin-bottom: 1em;
    }
}

.checkoutCartItem {
    display: flex;
    align-items: center;
    border: 1px solid $color-border;
    padding: 0.5em;
    border-radius: 5px;
    width: 100%;

    .image {
        figure {
            img {
                border: 1px solid $color-border;
                margin-right: 0.5em;
            }
        }
    }

    td {
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}