@import './main.scss';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

body {
  color: $text-color;
  background: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.button{
  width: 100%;
  padding: 1em;
  background-color: $color-primary;
  color: $text-color;
  border: 1px solid $color-border;
  cursor: pointer;
  &__secondary{
    border: 1px solid $color-border-secondary;
    background-color: $color-primary;
    border-radius: 5px;
    color: $text-color;
    &:hover{
      border: 1px solid $color-border-tertiary;
    }
  }

  &:hover{
    border: 1px solid $color-border-tertiary;
  }
}

.input{
  width: 100%;
  height: 40px;
  background-color: $background-color-secondary;
  border: 1px solid $color-border;
  color: $text-color;
  padding: 0.75em;
}


.red{
  color: $color-red;
}


.icon {
  width: 16px;
  height: 16px;

  &__small {
      width: 12px;
      height: 12px;
      min-width: 12px;
      min-height: 12px;
  }

  &__medium {
      width: 20px;
      height: 20px;
  }
}

.iconClean{
  width: 24px;
  height: 24px;
  background-color: $background-color-secondary;
  border: 1px solid $color-border;
  position: absolute;
  border-radius: 1em;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  &:hover{
      opacity: 50%;
  }
}

.display-flex {
  display: flex;

  &.allCenter {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  &.justify {
      display: flex;
      justify-content: center;
  }

  &.align {
      display: flex;
      align-items: center;
  }

  &.space-between {
      display: flex;
      justify-content: space-between;
  }

  &.column{
      flex-direction: column;
  }

  &.row{
      flex-direction: row;
  }
}

//Cursor
.cursor {
  cursor: pointer;
}

input {

  &:focus {
    border: 0px solid;
    outline: none;
  }

  &:valid {
    padding: 0em 1em;
  }
}


.slider-image {
  > img{

    padding-right: 1em;
  }
  padding-bottom: 2em;

}