@import "./main.scss";

.modalSearch {
    height: auto;
    width: 500px;
    position: absolute;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    z-index: 999999;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    .headerSearch {
        background-color: $color-primary;
        padding: 1em 1em 0em 1em;
        margin-bottom: 1em;
        border-radius: 0.5em 0.5em 0em 0em;
        background-color: $background-color;
        height: fit-content;

        .inputSearch{
            position: relative;

            .inputt{
                position: relative;
                border: none;
                width: 100%;
                height: 40px;
                position: relative;
                background-color: transparent;
                color: $text-color;


                &:valid {
                    padding: 0em 2.5em;
                    border: transparent;
                }
            }

            .iconSearch {
                position: absolute;
                top: 0px;
                left: 0px;
                transform: translate(100%, 0%);
                height: 100%;
            }
        }
        
        .filtersSearch {
            padding: 0.75em 0.5em;
            >div :first-child {
                margin-right: 1em;
            }
        }
    }

    .resultsSearch {
        padding: 1em;
        background-color: $background-color;
        border-radius: 0em 0em 0.5em 0.5em;

        .messageEmpty {
            padding: 1em 0em;
        }
    }

    @include respond(phone) {
        top: 0%;
        left: 0px;
        transform: translateX(0%);

        border-radius: 0px;
        width: 100%;
        max-width: none;
        border: none;
        border-bottom: 1px solid $color-border;
    }
}

.modalBackgroundSecondary {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: appear 0.6s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999999;
}